# ======================
# NODE / NEXT
# ======================
node_modules/
.next/
out/
dist/
build/
.pnpm-store/

# ======================
# ENV FILES
# ======================
.env
.env.*

# ======================
# PYTHON / DJANGO
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.pot
*.sqlite3-journal
db.sqlite3

venv/
backend/venv/

# ======================
# DJANGO STATIC
# ======================
backend/staticfiles/
backend/media/

# ======================
# OS FILES
# ======================
.DS_Store
Thumbs.db